<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



<div class="container" style="margin-top: 15%;">
  <h3 class="font-weight-light text-center">Unapproved locations</h3>
  <form method="POST" action="/dashboard">
  <button type="submit" name="action" class="btn btn-primary" value="approve">Approve</button>
  <button type="submit" name="action" class="btn btn-primary" value="remove">Remove</button>
  <button type="submit" name="action" class="btn btn-primary" value="unapprove">Unapprove</button>
  <button type="submit" name="action" class="btn btn-primary" value="bulk">Bulk Upload</button>
  <table class="table">
<tbody>
  <thead class="thead-dark"
<tr>
<th scope="col">Select</td>
<th scope="col">Name</td>
<th scope="col">Street</td>
<th scope="col">City</td>
<th scope="col">State</td>
</tr>
</thead>

  {% if data %}
  {% for item in data %}
  <tr>
    <td><input type="checkbox" id="{{item.uid}}" name="check" value="{{item.uid}}"></td>
    <td>{{item.name}}</td>
    <td>{{item.street}}</td>
    <td>{{item.city}}</td>
    <td>{{item.state}}</td>
</tr>
  {% endfor %}
  {%else%}
  <p>No unapproved items</p>
  {%endif%}
</tbody>
</table>
</div>
<div class="container" style="margin-top: 15%;">
  <h3 class="font-weight-light text-center">Approved locations</h3>
  <table class="table">
<tbody>
  <thead class="thead-dark"
<tr>
<th scope="col">Select</td>
<th scope="col">Name</td>
<th scope="col">Street</td>
<th scope="col">City</td>
<th scope="col">State</td>
</tr>
</thead>
  {% if data_2 %}
  {% for item in data_2 %}
  <tr>
    <td><input type="checkbox" id="{{item.uid}}" name="check" value="{{item.uid}}"></td>
    <td>{{item.name}}</td>
    <td>{{item.street}}</td>
    <td>{{item.city}}</td>
    <td>{{item.state}}</td>
</tr>
  {% endfor %}
  {%else%}
  <p>Approved Locations</p>
  {%endif%}
</tbody>
</table>
</form>
</div>
