<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        height: 50%;
        width: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <div class="container text-center" style="margin-top: 5%; margin-right: 23%;">

    <form class="form-check-inline" action="/search" method="POST">
    <input class="form-control col-12" type="search" name="search" style="margin-top: 1%;" placeholder="Enter Your City" aria-label="Search" value={{request.form.search}}>
    <button class="btn btn-md col-5" type="submit" style="margin-left: 2%;margin-top:1%; background-color: #3fa962;"><div style="color: white;">Find Location</div></button>
    </form>
  </div>
    <div id="map" style="margin-top: 10px;"></div>
    <script>
    function initMap() {
      var locations = [
        {% if results %}
          {% for catagory in results %}
            ['<strong>{{catagory.name}}<br>{{catagory.street}}, {{catagory.city}}, {{catagory.state}}<br><a href="{{catagory.directions}}" target="_blank">Get Directions</a>', {{catagory.lat}}, {{catagory.lng}}, 0],
          {% endfor %}
        {% else %}
          
              {% endif %}
      ];
      var map = new google.maps.Map(document.getElementById('map'), {
        {% if lat %}
        center: new google.maps.LatLng({{lat}}, {{lng}}),
	zoom: 10,
        {% else %}
        center: {lat: 37.106, lng: -121.987},
        zoom: 6,
	{%endif%}
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      var infowindow = new google.maps.InfoWindow({});
      var marker, i;
      for (i=0; i < locations.length; i++){
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          map: map
        });

        google.maps.event.addListener(
          marker,
          'click',
          (function(marker, i){
            return function(){
              infowindow.setContent(locations[i][0]);
              infowindow.open(map, marker);
            }
          })(marker, i));
      }
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPfUedHCltsv3Lfhk94Auzq6SDbw08YSU&callback=initMap" async defer></script>
    <div class="container" style="background-color: #ededed; width: 50%; margin-bottom: 10%">
      <div class="text-center font-weight-light">
      <h3 style="color: black;">Locations:</h3>
    </div>
    <div style="position: relative; height: 400px; overflow: auto; display: block;">
      <table class="table table-striped"style="width: 100%">
        <tbody style="margin-bottom: 25px;">
    {% if results %}
    {%for catagory in results%}
    <tr style="margin-bottom: 25px;">
	    <td>
		    <h6>{{catagory.name}}</h6>
		    
		    <p>{{catagory.street}}, {{catagory.city}}, {{catagory.state}}</p></td>
      <td class="text-right" align="bottom">
	      <form action="{{catagory.directions}}" target="_blank">
		      <input type="submit" class="btn btn-md col-7" style="background-color: #3fa962; color: white;" value="Get Directions"/>
	      </form>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
	    <td>
		    <h6>No Locations Found</h6>
		    <p>If you don't see our delicious burritos in your local store, you can request them.</p>
	    </td>
	    <td>
		    <form action="/request">
			    <input type="submit" class="btn btn-md col-12" style="background-color: #3fa962; color: white;" value="Request New Location" />
		    </form>
	    </td>
    </tr>
    {%endif%}
  </tbody>
</table>
    </div>
  <!--  <div class="text-center" style="margin-bottom: 15px;">
    <form action="/request" style="text-center">
	    <input type="submit" class="btn btn-md col-3" style="margin-top: 15px; margin-bottom: 15px;background-color: #3fa962; color: white;" value="Request Location"/>-->
    </form>
    </div>
    </div>
  </div>
  </body>
</html>
