<form action="" method="POST">
  <div class="form-group">
    <label>Username</label>
    <input type="text" name="username" class="form-control" value= {{request.form.username}}>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" name="password" class="form-control" value={{request.form.password}}>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
