<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<h1 class="font-weight-light text-center" style="margin-top: 10%;">Request a Location:</h1>


<div class="container text-center" style="margin-top: 5%">
  <form class="" action="" method="POST">
  <input class="form-control col-12" type="name" name="name" style="margin-top: 1%;" placeholder="Store Name" aria-label="Search" value={{request.form.name}}>
  <input class="form-control col-12" type="street" name="street" style="margin-top: 1%;" placeholder="Street Address" aria-label="Search" value={{request.form.street}}>
  <input class="form-control col-12" type="city" name="city" style="margin-top: 1%;" placeholder="City" aria-label="Search" value={{request.form.city}}>
  <input class="form-control col-12" type="state" name="state" style="margin-top: 1%;" placeholder="State" aria-label="Search" value={{request.form.state}}>
  <input class="form-control col-12" type="zipcode" name="zipcode" style="margin-top: 1%;" placeholder="Zip Code" aria-label="Search" value={{request.form.zipcode}}>
  <input class="form-control col-12" type="country" name="country" style="margin-top: 1%;" placeholder="Country" aria-label="Search" value={{request.form.country}}>
  <button class="btn btn-md col-5" type="submit" style="margin-left: 2%;margin-top:1%; background-color: #8DC63F;"><div style="color: white;">Find Location</div></button>
  </form>
